/* Base Styles
   ========================================================================== */

ul{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

li{
	list-style: none;
}
body {
    background-image: url('/img/bg.jpg');
}

/* Layout
   ========================================================================== */

.btn{
	min-height: 40px;
}

/*.container {
    border: 5px solid #2F4F4F;
    box-shadow:0 0 10px gray;
    background:#708090; 
    background-image: url('/img/bg.jpg');  
}*/

img {
	border: 100px solid #006400;
    max-width: 100%;
    border-radius: 100px;
    height: 150px; 
    width: 150px;
}



.words-wrapper{
	margin: 20px 20px 20px 20px;
}

.words-item{
	display: inline-block;
}

.words-item .btn{
	font-size: 20px;
	font-weight: bold;
	height: 45px;
	width: 45px;
    margin:2px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid gray;
	border-radius: 10px;
	box-shadow:0 0 10px white;
}

.answer-box .btn{
	background-color: #FAF0E6;
}

.hint-box .btn{
	background-color: 	#FAF0E6;
}



